#sessions .login_container {
  text-align: center;
  padding-top: 150px; }
#sessions form input {
  padding: 5px;
  margin: 5px;
  font-size: 14px; }
#sessions form .centered {
  width: 400px;
  margin: 0 auto; }
#sessions form .form_row {
  float: left; }
#sessions form .buttons input {
  font-size: 18px;
  color: #184915;
  padding-left: 15px;
  padding-right: 15px;
  background: #f5983a;
  border: 1px solid #184915; }
