= render :partial => @pointcloud

- if ["uos", "xyzr"].include? @pointcloud.format
  = render :partial => "scale_and_center_form"

- if ["riegl_txt"].include? @pointcloud.format
  = render :partial => "reduce_form"

- if @console_output
  = text_area_tag "console", @console_output, {:size => "150x25"}